**/bin/
**/obj/
**/.vs/
**/.vscode/
/ProjMngServer/ProjMngServer.csproj.user
/ProjMngWasm/ProjMngWasm.csproj.user
/ProjMngServer/Properties/launchSettings.json
/ProjMngWasm/Properties/launchSettings.json
/ProjMng.slnLaunch.user
/ProjMngServer/appsettings.json
/ProjMngVuejs/projmngvuejs.esproj.user
/ProjMngWasm_bk
