ProjMngWasm/obj/project.assets.json
ProjMngWasm/obj/project.nuget.cache
ProjMngWasm/obj/ProjMngWasm.csproj.nuget.dgspec.json
ProjMngWasm/obj/ProjMngWasm.csproj.nuget.g.props
ProjMngWasm/obj/ProjMngWasm.csproj.nuget.g.targets
ProjMngWasm/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ProjMngWasm/obj/Debug/net8.0/ProjMngWasm.AssemblyInfo.cs
ProjMngWasm/obj/Debug/net8.0/ProjMngWasm.AssemblyInfoInputs.cache
ProjMngWasm/obj/Debug/net8.0/ProjMngWasm.assets.cache
ProjMngWasm/obj/Debug/net8.0/ProjMngWasm.csproj.AssemblyReference.cache
ProjMngWasm/obj/Debug/net8.0/ProjMngWasm.GeneratedMSBuildEditorConfig.editorconfig
ProjMngWasm/obj/Debug/net8.0/ProjMngWasm.GlobalUsings.g.cs
ProjMngServer/obj/project.assets.json
ProjMngServer/obj/project.nuget.cache
ProjMngServer/obj/ProjMngServer.csproj.nuget.dgspec.json
ProjMngServer/obj/ProjMngServer.csproj.nuget.g.props
ProjMngServer/obj/ProjMngServer.csproj.nuget.g.targets
ProjMngServer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ProjMngServer/obj/Debug/net8.0/ProjMngServer.AssemblyInfo.cs
ProjMngServer/obj/Debug/net8.0/ProjMngServer.AssemblyInfoInputs.cache
ProjMngServer/obj/Debug/net8.0/ProjMngServer.assets.cache
ProjMngServer/obj/Debug/net8.0/ProjMngServer.GeneratedMSBuildEditorConfig.editorconfig
ProjMngServer/obj/Debug/net8.0/ProjMngServer.GlobalUsings.g.cs
