@using Newtonsoft.Json
@inherits LayoutComponentBase

<div class="page-wrapper">

<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title"></h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    @Body
  </div>
</div>


</div>


@code {
  [Inject] AppData appData { get; set; }

  [Inject] IJSRuntime JSRuntime { get; set; }


  protected override async Task OnInitializedAsync() {
    //appData.AuthCheck();
  }


}